<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @auto.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @auto.model %>
</p>

<p>
  <strong>Modification:</strong>
  <%= @auto.modification %>
</p>

<%= link_to 'Edit', edit_auto_path(@auto) %> |
<%= link_to 'Back', autos_path %>
