<%- model_class = Automobile -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="row">
<% @automobiles.each do |automobile| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail thumb-box">
      <%= link_to automobile_path(automobile) do %>
        <%= image_tag automobile.image.url(:thumb), class: "thumbnail" %>
        <div class="caption" style="text-align: center">
          <h3><%= automobile.brand %> <%= automobile.model %> <%= automobile.modification %></h3>
          <p><%= automobile.comments.count %> comments</p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
</div>
<p>
<%= link_to t('.new', default: t("helpers.links.new")),
            new_automobile_path,
            class: 'btn btn-custom' %></p>
